.faq-container {
  padding: 50px;
}

.faq-text > h4 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.faq-text > p {
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

.collapse-container {
  width: 70%;
  margin: 30px auto;
}

.ant-collapse-header-text {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
}

.collapse-text {
  font-family: "Poppins", sans-serif;
}

.collapse-icon {
  font-size: 25px !important;
}

.collapse {
  padding: 20px !important;
}

@media (max-width: 1200px) {
  .collapse-container {
    width: 100%;
  }
}
