.final-results-container {
  padding: 50px;
}

.final-results-text-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final-results-text-search > h4 {
  font-size: 20px;
  font-weight: 500;
}

.search-input {
  position: relative;
}

.winning-candidate {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.winning {
  animation: beat 2s alternate infinite;
}

@keyframes beat {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1.2);
  }
}

.search-input-tag {
  width: 300px;
  height: 40px;
  background: #ffff;
  padding: 0px 0px 0px 35px;
  border: 1.5px solid #e8e8ef;
  border-radius: 5px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
}

.aspirants {
  font-weight: 600;
  margin-top: 30px;
}

.candidate-image {
  display: flex;
  align-items: center;
  gap: 15px;
}

.candidate-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.arrow-left-final-results {
  font-size: 20px;
  margin-bottom: 20px;
}

.arrow-left-final-results:hover {
  cursor: pointer;
}

.modal-election-btn.disabled {
  background: #e8e8ef;
  color: #000;
}

.modal-election-btn.disabled:hover {
  cursor: not-allowed;
}

.modal-election-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-election-btn {
  width: 100%;
  background: #009444;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
}

.modal-election-btn:hover {
  cursor: pointer;
}

.vote-btn {
  background: #009444;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 20px;
}

.newmodal-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: block;
  object-fit: cover;
}

.modal-election-name {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
}

.vote-btn:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .final-results-text-search {
    flex-wrap: wrap;
  }
}
