.recent-polls-container {
  padding: 50px;
}

.recent-polls-table > h4 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}

.circle-text {
  display: flex;
  position: relative;
}

.active {
  background: #ecfdf3;
  color: #027a48;
  padding: 8px 10px 8px 20px;
  border-radius: 18px;
}

.circle {
  width: 7px;
  height: 7px;
  background: #027a48;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
}
