header {
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.nav-list {
    display: flex;
    gap: 100px;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
}

/* .navbar-container button {
  padding: 12px 25px 12px 25px;
  background: #009444;
  border-radius: 20px;
  border: none;
  color: #fff;
}

.navbar-container button:hover {
  cursor: pointer;
} */

@media (max-width: 1200px) {
    .nav-list {
        display: none;
    }
}